In [1]:
#import thinkplot
#import thinkstats2
import pandas as pd
import numpy as np
import math
import scipy.stats as ss
import thinkplot
import thinkstats2

##Seaborn for fancy plots. 
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams["figure.figsize"] = (15,5)

<h1>Assignment 2: Life Expectancy and You!</h1>

<b>Instructions:</b>
<ul>
<li>Use the worksheet below to act as a guide to exploring and examining the data in the dataset.
<li>Try to make things easy to read. Look at the formatting stuff above. 
<li>As long as you do what is asked, you can do things in many different ways. You may need to do a little searching. 
</ul>

### Please Use Formatting to Make it Clear What I Should be Looking at! Please!!! I Beg You!!!

In [2]:
#Load data and do some cleanup before starting
#Please don't change this stuff. 
dfLE = pd.read_csv("led.csv")
dfLE.rename(columns={"Status":"isDeveloped", }, inplace=True)
dfLE["isDeveloped"].replace(('Developed', 'Developing'), (1, 0), inplace=True)
dfLE = dfLE.drop(columns={"Year", "Incomecompositionofresources", "thinness5-9years", "HIV/AIDS", "percentageexpenditure", "Totalexpenditure", "thinness1-19years"})
dfLE = dfLE.groupby("Country", as_index=False).mean()
dfLE.head()

,Country,isDeveloped,Lifeexpectancy,AdultMortality,infantdeaths,Alcohol,HepatitisB,Measles,BMI,under-fivedeaths,Polio,Diphtheria,GDP,Population,Schooling
0,Afghanistan,0.0,58.19375,269.0625,78.2500,0.014375,64.562500,2362.2500,15.51875,107.5625,48.3750,52.3125,4.136734e+09,9.972260e+06,8.21250
1,Albania,0.0,75.15625,45.0625,0.6875,4.848750,98.000000,53.3750,49.06875,0.9375,98.1250,98.0625,1.166938e+09,6.969116e+05,12.13750
2,Algeria,0.0,73.61875,108.1875,20.3125,0.406667,78.000000,1943.8750,48.74375,23.5000,91.7500,91.8750,7.345597e+10,2.164983e+07,12.71250
3,Angola,0.0,49.01875,328.5625,83.7500,5.740667,70.222222,3561.3125,18.01875,132.6250,46.1250,47.6875,2.177835e+10,1.014710e+07,8.04375
4,AntiguaandBarbuda,0.0,75.05625,127.5000,0.0000,7.949333,98.266667,0.0000,38.42500,0.0000,96.9375,98.3125,0.000000e+00,NaN,8.84375

# Checking out the data first and doing some cleaning.

In [3]:
df = dfLE 
df.describe().T

,count,mean,std,min,25%,50%,75%,max
isDeveloped,191.0,1.675393e-01,3.744381e-01,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Lifeexpectancy,183.0,6.922493e+01,9.186432e+00,46.11250,6.247500e+01,7.248750e+01,7.510625e+01,8.253750e+01
AdultMortality,183.0,1.647964e+02,9.618516e+01,18.75000,8.040625e+01,1.465625e+02,2.195938e+02,5.500625e+02
infantdeaths,191.0,2.913384e+01,1.136916e+02,0.00000,0.000000e+00,2.625000e+00,2.106250e+01,1.366688e+03
Alcohol,189.0,4.486793e+00,3.873123e+00,0.01000,1.000000e+00,3.582667e+00,7.466000e+00,1.349733e+01
HepatitisB,182.0,7.928771e+01,1.741770e+01,9.00000,6.815000e+01,8.337607e+01,9.468750e+01,9.900000e+01
Measles,191.0,2.326166e+03,7.924050e+03,0.00000,4.781250e+00,1.389375e+02,1.501594e+03,6.585794e+04
BMI,187.0,3.911715e+01,1.717553e+01,5.20000,2.088750e+01,4.384375e+01,5.227500e+01,8.730000e+01
under-fivedeaths,191.0,4.041263e+01,1.543107e+02,0.00000,0.000000e+00,3.250000e+00,2.528125e+01,1.812500e+03
Polio,191.0,8.283286e+01,1.592533e+01,29.81250,7.200000e+01,8.818750e+01,9.606250e+01,9.900000e+01
Diphtheria,191.0,8.262874e+01,1.643327e+01,26.81250,7.237500e+01,8.850000e+01,9.603125e+01,9.900000e+01
GDP,191.0,4.550119e+10,1.305612e+11,0.00000,4.776139e+06,2.662176e+09,1.508067e+10,1.004677e+12
Population,144.0,1.265734e+07,3.827961e+07,292.00000,9.623203e+05,3.665163e+06,1.034789e+07,4.214677e+08
Schooling,178.0,1.202774e+01,3.104852e+00,1.53125,9.971875e+00,1.235938e+01,1.409375e+01,2.003750e+01

From here I can see there are quite a few columns with missing data. Population has quite a few data missing from several countries. Which could be problematic.
Next I will be displaying the rows with NaN values. Since each country can either be Developed or Developing status, I'll split them into two groups to get a better understanding of the missing data.

In [12]:
df1 = df[df.isna().any(axis=1)] 
df1Deved = df1[df1['isDeveloped'] == 1]
df1Deving = df1[df1['isDeveloped'] == 0]

df1Deved #Countries with Developed status

,Country,isDeveloped,Lifeexpectancy,AdultMortality,infantdeaths,Alcohol,HepatitisB,Measles,BMI,under-fivedeaths,Polio,Diphtheria,GDP,Population,Schooling
43,Czechia,1.0,76.76875,71.8125,0.0000,13.026000,97.285714,22.9375,55.71250,0.0000,98.0000,98.1250,0.000000e+00,NaN,NaN
47,Denmark,1.0,79.25625,66.0625,0.0000,10.708000,NaN,15.7500,55.82500,0.0000,88.0000,88.0000,1.293716e+11,4.260081e+06,17.19375
74,Hungary,1.0,73.82500,147.0625,0.5625,11.427333,NaN,2.0625,56.93125,0.8750,98.9375,99.0000,1.287278e+10,1.604902e+06,15.11875
75,Iceland,1.0,82.44375,49.3750,0.0000,7.466000,NaN,0.0000,51.07500,0.0000,89.7500,89.7500,6.230830e+09,1.861776e+05,18.15625
84,Japan,1.0,82.53750,57.1250,2.8750,7.040667,NaN,6875.8125,25.60625,4.0000,96.0000,96.2500,2.543555e+09,9.738406e+04,14.97500
119,NewZealand,1.0,81.33750,71.5000,0.0000,9.166250,70.187500,94.9375,56.62500,0.0000,89.1250,70.6250,0.000000e+00,NaN,18.86875
124,Norway,1.0,81.79375,66.2500,0.0000,6.234375,NaN,6.3125,50.81250,0.0000,93.0625,87.9375,6.975715e+10,2.614432e+06,17.46875
152,Singapore,1.0,81.47500,62.0000,0.0000,1.762500,95.875000,85.7500,25.90625,0.0000,96.1250,96.1875,0.000000e+00,NaN,13.98125
153,Slovakia,1.0,74.75000,118.0625,0.0000,10.473333,98.562500,0.2500,51.81875,0.1250,98.4375,98.6250,0.000000e+00,NaN,14.35000
154,Slovenia,1.0,79.73125,76.4375,0.0000,10.754667,NaN,6.0625,52.20000,0.0000,95.1875,95.0000,2.480334e+09,4.012791e+05,16.47500
165,Switzerland,1.0,82.33125,55.7500,0.0000,10.338000,NaN,397.5000,51.43750,0.0000,95.3750,94.5625,3.548716e+11,5.913242e+06,15.39375
180,UnitedKingdomofGreatBritainandNorthernIreland,1.0,80.79375,70.3750,3.6250,11.131250,NaN,715.7500,55.38750,4.0625,92.8750,92.8750,0.000000e+00,NaN,NaN
182,UnitedStatesofAmerica,1.0,78.06250,58.1875,26.1875,8.579333,81.375000,130.6250,58.45000,30.7500,82.1250,95.1250,0.000000e+00,NaN,NaN

In [13]:
df1Deving #Countries with Developing Status

,Country,isDeveloped,Lifeexpectancy,AdultMortality,infantdeaths,Alcohol,HepatitisB,Measles,BMI,under-fivedeaths,Polio,Diphtheria,GDP,Population,Schooling
4,AntiguaandBarbuda,0.0,75.05625,127.5000,0.0000,7.949333,98.266667,0.0000,38.42500,0.0000,96.9375,98.3125,0.000000e+00,NaN,8.84375
10,Bahamas,0.0,74.28750,152.0625,0.0000,10.271333,83.600000,0.0000,52.88125,0.0000,95.0000,95.7500,0.000000e+00,NaN,12.42500
11,Bahrain,0.0,75.72500,65.3750,0.0000,1.934667,98.125000,6.6875,51.65625,0.0000,98.0000,98.0625,0.000000e+00,NaN,14.11250
13,Barbados,0.0,74.35625,77.6250,0.0000,8.206667,84.066667,0.0000,45.97500,0.0000,80.3125,89.9375,0.000000e+00,NaN,14.89375
19,Bolivia(PlurinationalStateof),0.0,67.70625,177.5000,10.7500,3.212000,82.875000,7.6250,44.81875,14.0000,81.6875,87.3750,0.000000e+00,NaN,13.96250
23,BruneiDarussalam,0.0,76.48750,67.0625,0.0000,0.378667,97.875000,7.3125,29.71875,0.0000,97.5000,96.8125,0.000000e+00,NaN,14.10625
37,Congo,0.0,59.04375,322.7500,7.8750,2.173333,50.777778,1021.6250,20.92500,11.6875,52.4375,55.2500,0.000000e+00,NaN,10.08750
38,CookIslands,0.0,NaN,NaN,0.0000,0.010000,98.000000,0.0000,82.80000,0.0000,98.0000,98.0000,0.000000e+00,NaN,NaN
41,Cuba,0.0,77.97500,57.5625,1.0000,4.190667,96.250000,0.0000,49.46250,1.0000,98.6875,93.9375,0.000000e+00,NaN,14.69375
44,Côted'Ivoire,0.0,50.38750,417.3125,61.5000,2.837333,63.933333,1708.2500,21.32500,86.8125,65.9375,68.9375,0.000000e+00,NaN,NaN
45,DemocraticPeople'sRepublicofKorea,0.0,69.19375,160.8125,9.9375,3.000000,88.846154,222.5625,25.62500,12.8125,98.2500,83.2500,0.000000e+00,NaN,NaN
46,DemocraticRepublicoftheCongo,0.0,55.68750,265.3750,234.5000,1.424000,51.333333,48922.6875,15.83750,323.5000,55.6250,41.8750,0.000000e+00,NaN,NaN
49,Dominica,0.0,NaN,NaN,0.0000,0.010000,96.000000,0.0000,58.40000,0.0000,96.0000,96.0000,0.000000e+00,NaN,12.70000
52,Egypt,0.0,71.50000,170.6250,56.2500,0.188667,96.687500,1069.2500,49.26250,67.6250,96.6875,96.6875,0.000000e+00,NaN,11.89375
59,Finland,0.0,80.71250,68.8750,0.0000,9.552667,NaN,2.8125,52.30000,0.0000,97.1875,98.2500,7.505123e+10,3.493082e+06,17.29375
62,Gambia,0.0,59.46250,249.6250,3.0000,2.134667,95.375000,41.2500,20.30000,5.6875,92.7500,88.5000,0.000000e+00,NaN,8.12500
67,Grenada,0.0,73.29375,153.7500,0.0000,8.843333,95.466667,0.0000,40.21250,0.0000,95.1250,95.6250,0.000000e+00,NaN,15.20625
78,Iran(IslamicRepublicof),0.0,73.85625,107.0000,25.1875,0.016000,97.750000,2828.2500,48.63125,29.6875,98.2500,98.3750,0.000000e+00,NaN,12.65625
89,Kuwait,0.0,73.84375,83.2500,0.5000,0.021333,98.187500,15.3750,59.60625,1.0000,98.1875,98.5000,0.000000e+00,NaN,13.72500
90,Kyrgyzstan,0.0,69.08125,173.6875,3.7500,2.267333,85.562500,1156.6250,35.11250,4.1250,95.8750,96.5625,0.000000e+00,NaN,12.33750
91,LaoPeople'sDemocraticRepublic,0.0,62.38125,197.1875,10.6250,3.505333,60.307692,552.7500,14.36250,14.7500,58.8125,61.5000,0.000000e+00,NaN,9.23125
96,Libya,0.0,72.48750,139.6875,2.1875,0.010000,96.312500,547.3125,54.83750,2.5000,96.5000,96.5000,0.000000e+00,NaN,14.79375
108,Micronesia(FederatedStatesof),0.0,68.20000,154.0625,0.0000,2.145333,75.437500,8.7500,65.15000,0.0000,82.3750,81.8750,0.000000e+00,NaN,10.40000
109,Monaco,0.0,NaN,NaN,0.0000,0.010000,99.000000,0.0000,NaN,0.0000,99.0000,99.0000,0.000000e+00,NaN,NaN
116,Nauru,0.0,NaN,NaN,0.0000,0.010000,87.000000,0.0000,87.30000,0.0000,87.0000,87.0000,0.000000e+00,NaN,9.60000
123,Niue,0.0,NaN,NaN,0.0000,0.010000,99.000000,0.0000,77.30000,0.0000,99.0000,99.0000,0.000000e+00,NaN,NaN
125,Oman,0.0,74.84375,67.7500,1.0000,0.534667,98.812500,10.8750,44.78125,1.0000,98.5000,98.7500,0.000000e+00,NaN,12.22500
127,Palau,0.0,NaN,NaN,0.0000,NaN,99.000000,0.0000,83.30000,0.0000,99.0000,99.0000,5.641797e+05,2.920000e+02,14.20000
135,Qatar,0.0,77.03125,75.3750,0.0000,1.081333,95.062500,96.2500,65.65000,0.0000,95.8750,89.6875,0.000000e+00,NaN,12.85000
136,RepublicofKorea,0.0,80.48750,76.1875,2.1250,8.855333,95.125000,3548.4375,23.24375,2.5625,91.2500,96.0625,0.000000e+00,NaN,NaN
137,RepublicofMoldova,0.0,69.98125,210.3125,1.0000,9.545333,95.000000,390.8750,43.90625,1.0625,94.9375,72.8125,0.000000e+00,NaN,NaN
141,SaintKittsandNevis,0.0,NaN,NaN,0.0000,8.540000,97.000000,0.0000,5.20000,0.0000,96.0000,96.0000,0.000000e+00,NaN,13.40000
142,SaintLucia,0.0,73.60000,146.2500,0.0000,11.511333,89.285714,0.0000,39.59375,0.0000,84.8750,83.8125,0.000000e+00,NaN,12.70625
143,SaintVincentandtheGrenadines,0.0,73.47500,152.0625,0.0000,6.110000,93.000000,0.0000,41.99375,0.0000,97.8750,98.3125,0.000000e+00,NaN,13.18125
145,SanMarino,0.0,NaN,NaN,0.0000,0.010000,69.000000,0.0000,NaN,0.0000,69.0000,69.0000,0.000000e+00,NaN,15.10000
147,SaudiArabia,0.0,73.46875,52.1250,8.6250,0.074667,96.812500,759.3125,55.31250,10.0000,96.8125,96.8750,0.000000e+00,NaN,13.28750
156,Somalia,0.0,53.31875,316.7500,49.8750,0.010000,42.000000,5494.0625,18.68750,80.5625,29.8125,29.3125,0.000000e+00,NaN,NaN
158,SouthSudan,0.0,53.87500,346.3125,27.7500,NaN,31.000000,315.7500,NaN,43.2500,44.0000,47.0000,1.919039e+09,3.750827e+06,1.53125
161,Sudan,0.0,61.82500,240.3125,64.6250,1.458000,72.363636,3108.0000,NaN,96.6250,72.2500,72.3750,2.466018e+10,1.804652e+07,6.37500
169,TheformerYugoslavrepublicofMacedonia,0.0,74.11250,60.8125,0.0000,1.858667,83.545455,74.7500,52.90625,0.0000,95.5000,94.8750,0.000000e+00,NaN,12.38125
179,UnitedArabEmirates,0.0,75.70000,67.0625,1.0000,1.750000,93.875000,75.6250,53.80625,1.0000,95.0625,94.6250,0.000000e+00,NaN,12.81250
181,UnitedRepublicofTanzania,0.0,56.00625,304.4375,95.2500,3.582667,73.500000,3348.5625,17.31875,143.1875,83.3750,74.6875,0.000000e+00,NaN,NaN
186,Venezuela(BolivarianRepublicof),0.0,73.38750,163.0000,9.3750,7.420000,66.250000,165.0000,54.48750,10.7500,74.6875,68.5000,0.000000e+00,NaN,12.78750
187,VietNam,0.0,74.77500,126.5625,29.1875,3.087333,87.538462,4232.9375,11.18750,36.5000,94.9375,91.7500,0.000000e+00,NaN,11.51250
188,Yemen,0.0,63.86250,211.8125,39.3750,0.047333,55.687500,2761.1875,33.48750,51.6250,67.1250,72.6250,0.000000e+00,NaN,8.50625

Seems like a majority of countries that have missing population data come from developing countries. I can only assume that maybe there were some challenges when gathering data for population. 
Either way this does pose a problem since a significant portion of poppulation data, I might just end up dumping the whole column.

Other than the population column, some countries also seem to lack a lot of data on other columns such as Cook Island, Dominica and a few others so I will be omitting them in the next section.

In [14]:
df = df.drop(df.index[[38, 49, 109, 116, 123, 127, 141, 145]]) # New dataframe with the following coutries removed.
df = df.fillna(0) #filling in NaN values with zeroes
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183 entries, 0 to 190
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           183 non-null    object
 1   isDeveloped       183 non-null    float64
 2   Lifeexpectancy    183 non-null    float64
 3   AdultMortality    183 non-null    float64
 4   infantdeaths      183 non-null    float64
 5   Alcohol           183 non-null    float64
 6   HepatitisB        183 non-null    float64
 7   Measles           183 non-null    float64
 8   BMI               183 non-null    float64
 9   under-fivedeaths  183 non-null    float64
 10  Polio             183 non-null    float64
 11  Diphtheria        183 non-null    float64
 12  GDP               183 non-null    float64
 13  Population        183 non-null    float64
 14  Schooling         183 non-null    float64
dtypes: float64(14), object(1)
memory usage: 22.9+ KB

<h2>Part 1: Add a column for GDP per Capita (5pts)</h2>

Show print the labels along with just that column. Print 10 random rows of that data. 

Note: you'll have to look at the units to ensure you get it right.

In [15]:
#Part 1
df['GDP per Capita'] = df['GDP'] / df['Population']
# filling NaN with zeroes 
df = df.fillna(0)
df.sample(10)

,Country,isDeveloped,Lifeexpectancy,AdultMortality,infantdeaths,Alcohol,HepatitisB,Measles,BMI,under-fivedeaths,Polio,Diphtheria,GDP,Population,Schooling,GDP per Capita
34,China,0.0,74.26250,73.7500,294.8750,4.182000,80.437500,65857.9375,21.80625,350.0000,93.6875,93.3125,8.068489e+08,3.218121e+05,11.43750,2507.205212
2,Algeria,0.0,73.61875,108.1875,20.3125,0.406667,78.000000,1943.8750,48.74375,23.5000,91.7500,91.8750,7.345597e+10,2.164983e+07,12.71250,3392.912329
176,Turkmenistan,0.0,64.61875,214.8125,6.5625,2.654667,97.285714,15.1250,38.11875,8.0625,95.5625,96.3750,8.382415e+09,2.635550e+06,9.83125,3180.517985
175,Turkey,0.0,73.91250,98.3750,26.9375,1.421333,87.062500,5272.9375,56.41250,32.2500,80.8125,80.7500,1.115972e+11,3.350135e+07,12.67500,3331.124773
81,Israel,0.0,81.30000,59.5000,0.9375,2.497333,97.437500,138.9375,54.98750,1.0000,94.2500,89.0000,6.559575e+08,2.786288e+04,15.71250,23542.348201
12,Bangladesh,0.0,69.30000,141.3750,153.6250,0.010000,77.615385,4649.9375,12.87500,201.5625,87.5000,92.7500,2.568747e+10,4.298516e+07,8.69375,597.589176
183,Uruguay,0.0,76.07500,119.9375,0.5625,6.172667,94.312500,0.0000,52.92500,0.7500,94.2500,89.1250,1.750809e+10,2.396771e+06,15.23125,7304.866699
13,Barbados,0.0,74.35625,77.6250,0.0000,8.206667,84.066667,0.0000,45.97500,0.0000,80.3125,89.9375,0.000000e+00,0.000000e+00,14.89375,0.000000
129,PapuaNewGuinea,0.0,61.68125,266.5625,10.6250,0.580667,57.000000,2349.8750,40.78750,13.7500,62.5625,68.3750,3.610450e+09,4.813446e+06,8.54375,750.075931
85,Jordan,0.0,72.98750,114.3125,4.0000,0.517333,97.000000,26.5000,53.00000,4.0000,97.1250,97.0000,9.518281e+09,4.895076e+06,13.23750,1944.460512

With so much population data missing, GDP per Capita will also have a lot of missing values. Which means it isn't much use to me, so I will not be using for the rest of the assignment.

### Part 2: Print a visualization of each distribution. Both regular (density) and cumulative. (15pts)

Print each distribution is some type of visualization, also print the cumulative distribution. 
<ul>
<li>5 points are for using some visualization that is effective.
<li>5 points for formatting things in a nice layout. Hint: for whatever chart you use, look into some formatting options. Think of what to try to Google for an example for printing multiple charts, a grid of charts, etc... and try to adapt one to yours. There is also a way to do it using some thinkstats/thinkplot stuff. 
<li><b>5 points are for doing it in an efficient way - just listing off each column is lots of typing... Remember, the #1 trait of programmers is laziness with respect to repetitive tasks. If we are doing the same thing over and over with tiny changes, try to think of a condensed way to do this...</b>
</ul>

In [5]:
#Print all distributions
#GDP per Capita dropped don't bother using.

### Create an analytical distribution for SCHOOLING, and use it for a couple of things. (20pts)

<ul>
<li>5 points are for choosing an appropriate distribution. Please state it clearly somewhere.
<li>10 points are for creating and visualizing the distribution. Do it <b>without</b> using a fit() method. Plot the emperical data on the same graph as the analytical distribution. 
<li>5 points are for using the distribution to predict the percentage of that have a schooling level within 1 year of Canada. 
</ul>

In [6]:
#Analytical for Schooling
#GDP per Capita dropped don't bother using.

### Part 3: Create another analytical distribution for GDP per Capita (20pts)

<ul>
<li>5 points are for choosing an appropriate distribution. Please state it clearly somewhere.
<li>10 points are for creating and visualizing it alongside the emperical. You have free reign on how. 
<li>5 points are for using the analytical distribution to evaluate the quality of your GDP per capita metric - does it appear accurate? Why or why not?
<li>If you've judged GDP per cap to be unreliable, drop it. 
</ul>

In [7]:
#Analytical for GDP/capita

### Part 4: Visually identify correlations. Separate developed and not developed countries is some way. (15pts)

<ul>
<li>5 points are for effectively and clearly showing the visualizations used to evaluate correlations.
<li>10 points are for, in the process of visualizing, remove outliers that confound correlations. List outlier "filters" you used and justify why - was the data an error, a real value that is just way out of line, or somethingn else? Remember, you're trying to find things that have correlations with each other. Looking at a correlation between home size and income may not benefit from Jeff Bezos being included. It may be helpful to look at the results and revise. 
</ul>

In [8]:
#Visualize correlations.

### Part 5: Calculate correlations (25pts)

<ul>
<li>5 points are for identifying and calculating 3 strongest correlations with life expectancy for each of developed and not developed. 
<li>10 points are for analyzing those correlations. Do they appear to be supported by reality? Do you have reason to beleive any are causal?
<li>10 points are for identifying 2 places where developing and developed countries have a substantially different relationship with respect to life expectancy, and theorizing why. What would be needed to confirm your thoughts?
</ul>

<b>Please put your written parts in markdown cells, with a little formatting to make them readable.

In [9]:
#Calculate correlations and analyze.